h1{
  color:skyblue;
}
body{
  display: flex;
  justify-content: center;
  text-align: center;
}
button{
  border-radius: 10px;
  background-color: skyblue;
  margin-top: 20px;
  font-size: 50px;
  cursor: pointer;
}
input{
  font-size: 50px;
  border-radius: 10px; 
}